.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonSearch{
  background: #0063cc;

}

.tableHistory{
  width: '100%';
  display:inline-block;
}

.divNews{
  grid-column-end: 'span 3'
}

.cardNews{
   box-shadow: 0px 8px 24px rgba(0,0,0,0.12);
   border-radius: '1.5rem';
}

.imageCard{
    width: auto;
    padding-top: 56.25%;
    border-radius: 4px;
}

.gridWeather{
  text-align: right;
}

.autoCompleteDiv{
  width: 300px;
  align-items: center;
  display: inline-block;
}

.TypografiH3{

}

#historialAll {
  align-items: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 20%;
}
